* {
  box-sizing: border-box;
}

body {
  background-color: #fff;
  min-height: 100vh;
  font-family: 'Lato', sans-serif;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

h1 {
  font-size: 7em;
  font-weight: bold;
  margin: -100px 0 0;
  padding: 0;
}

p {
  line-height: 2em;
  color: #353535;
}

a {
  text-decoration: overline;
  color: #27ae60;
}

a:hover {
  text-decoration: line-through;
}

img {
  width: 100%;
}

#T {
  color: #855D95;
}

#o {
  color: #3498db;
}

#n {
  color: #e74c3c;
}

#y {
  color: #27ae60;
}

#ux {
  color: #3498db;
}

#music {
  color: #ff3a00;
}

#art {
  color: #517fa4;
}

#science {
  color: #007bb6;
}

#la {
  color: #855D95;
}

#sf {
  color: #f1c40f;
}

#hotwire {
  color: #cf0006;
}

footer {
  margin-top: 15px;
}

footer img {
  max-width: 24px;
  margin: 0 5px;
}

@media (min-width: 481px) {

  h1 {
    font-size: 10em;
    margin-top: -150px;
  }

}

@media (min-width: 768px) {

  h1 {
    margin-top: -175px;
  }

}
