<div class="row">
  <div class="col text-center">
    <h2>About</h2>
  </div>
</div>
<div class="row">
  <p>My journey into iOS has been an interesting one. As a Math and Physics major in
    <a href="https://www.ncat.edu/cost/departments/math/index.html" target="_blank">college</a>,
    I had the opportunity to take part in a few super valuable internships - namely, with the
    <a href="https://www.wpafb.af.mil/afrl/ri/" target="_blank">Air Force Research Lab</a>,
    <a href="https://home.cern/students-educators/summer-student-programme" target="_blank">CERN</a>, and the
    US government. Throughout college, though, I started to take an interest in tech and iOS development.</p>
  <p>I started building small apps (e.g. to-do lists, fun facts, etc.) until I worked my way up
    to building the photo-messaging app <a href="/work/hail">Hail</a>. I used this app to successfully apply for a
    <a href="https://developer.apple.com/wwdc/scholarships/" target="_blank">WWDC scholarship</a>
    in 2015 and had the opportunity to attend the conference for a week in San Francisco.
    This experience basically solidified my interest in all things tech and especially iOS development.</p>
  <p>I still felt like I was missing something though and wanted to learn more about the UX side of
    development. So after getting my bachelor’s degree, I put together a portfolio and started networking
    and interviewing until I landed a job on the UX Labs team at <a href="https://www.hotwire.com/" target="_blank">Hotwire</a>.</p>
  <p>Since I’ve been at Hotwire, I’ve had the chance to really study UX and recognize what goes into
    understanding your customer. The best part about working here, though, has been the flexibility. In
    addition to doing UX research, I’ve built an <a href="/work/hotwire">angular web app</a> and shipped a few
    <a href="/work/hotwire">major features to our iOS app</a>.</p>
  <p>And just this year I started a tech company, <a href="/work/forcely">Forcely</a>, that solves problems in local
    government. The company’s main product is an <a href="https://itunes.apple.com/US/app/id1420946432?mt=8" target="_blank">iOS app</a>
    that allows code enforcement officers to easily log their day to day activities.</p>
  <p id="lastParagraph">I enjoy tying all these experiences back into iOS development; I feel like the perspective I bring is
    truly unique. You can view my <a href="/resume">resume</a> here or <a href="mailto:tony@burrus.me">send me an email</a>
    if you’d like to hear more about my story.</p>
</div>
