#hotwireLogo {
  height: 39px;
  width: 182px;
  margin-bottom: 8px;
}

p {
  margin: 15px;
}

a:hover {
  text-decoration: line-through;
}

.desktop {
  display: none !important;
}

.section-title {
  font-size: 1.25em;
  font-weight: 700;
}

.subsection-title {
  font-size: 1em;
  font-weight: 600;
  margin: 15px 0;
}

.images {
  margin: 30px 0;
}

.ios {
  max-width: 65%;
  margin: 10px 0;
}

.web {
  max-width: 100%;
  margin: 10px 0;
}

#angularSection {
  margin-top: 10px;
}

#last {
  margin-bottom: 30px;
}

@media only screen and (min-width: 426px) {
  .mobile {
    display: none !important;
  }

  .desktop {
    display: flex !important;
  }

  .ios {
    max-width: 100%;
    margin: 0;
  }
}

@media only screen and (min-width: 1025px) {
  #last {
    justify-content: center;
  }
}
