<div class="row">
  <div class="col text-center">
    <img id="hotwireLogo" src="assets/img/hotwire-logo.png" alt="hotwire logo">
  </div>
</div>
<div class="row">
  <p>Hotwire helps you get great deals on name-brand hotels and car rentals around the
    world at a fraction of the price.</p>
</div>
<div class="row">
  <div class="col text-center">
    <h4 class="section-title">iOS</h4>
  </div>
  <p>As an iOS developer here I worked on implementing in-app customer service messaging
    as well as updating the reviews section on the details screen to name a few. I learned a
    lot about how an agile engineering team operates and picked up a lot of new skills along
    the way.</p>
</div>
<div class="row justify-content-center image-row mobile">
  <div class="col-6 text-center image-col">
    <h5 class="subsection-title">Messaging</h5>
    <div class="row images">
      <div class="col-6 image-col">
        <img class="ios" src="assets/img/hw-liveperson-1.png" alt="hotwire ios messaging 1">
      </div>
      <div class="col-6 image-col">
        <img class="ios" src="assets/img/hw-liveperson-2.png" alt="hotwire ios messaging 2">
      </div>
    </div>
  </div>
  <div class="col-6 text-center image-col">
    <h5 class="subsection-title">Reviews</h5>
    <div class="row images">
      <div class="col-6 image-col">
        <img class="ios" src="assets/img/hw-reviews-1.png" alt="hotwire ios reviews 1">
      </div>
      <div class="col-6 image-col">
        <img class="ios" src="assets/img/hw-reviews-2.png" alt="hotwire ios reviews 2">
      </div>
    </div>
  </div>
</div>
<div class="row justify-content-center">
  <p class="keywords"><i>MVVM, Objective-C, RxSwift, Swift, VIPER</i></p>
</div>
<div class="row">
  <div class="col text-center">
    <h4 class="section-title">Angular</h4>
  </div>
  <p>While working on the UX Labs team, I often found it frustrating to recruit users for moderated
    studies. To solve this problem, I built an angular web app that tapped into to our customer
    database to automate the entire recruiting process. This project was a learning experience for
    me as it was the first time I built a web app from scratch. I was responsible for all the research,
    design, and front-end development on this project.</p>
</div>
<div class="row justify-content-center">
  <p>first image</p>
</div>
<div class="row justify-content-center">
  <p>second image</p>
</div>
<div class="row justify-content-center">
  <p class="keywords"><i>Angular, AWS, Bootstrap, CSS, HTML, Typescript</i></p>
</div>
<div class="row" id="last">
  <p><a href="mailto:tony@burrus.me">Send me an email</a> if you’d like to hear more about
    the type of work I’ve been doing at Hotwire.</p>
</div>
