<div class="row">
  <div class="col text-center">
    <h2>Forcely</h2>
  </div>
</div>
<div class="row">
  <p><a href="https://itunes.apple.com/US/app/id1420946432?mt=8" target="_blank">Forcely</a>
    provides code enforcement officers with a quick and easy way to log their day to day activities.</p>
  <p>This is a company that I started in order to reduce the amount of inefficiencies in
    local government. I conducted research, as well as designed and built, the entire
    <a href="https://itunes.apple.com/US/app/id1420946432?mt=8" target="_blank">app</a> myself using Google’s
    <a href="https://firebase.google.com/docs/firestore/" target="_blank">Firestore</a> as the back-end.
    Currently I have one <a href="https://goo.gl/Pv5rj7" target="_blank"> city</a> using the app.</p>
  <p>I’m also currently working on an <a href="https://angular.io/" target="blank">angular</a> web dashboard
    for Forcely to accompany the iOS app. This will allow city supervisors to gain insights into the activities
    their code enforcement officers are logging.</p>
  <p><a href="mailto:tony@burrus.me">Send me an email</a> if you’d like to hear more about why I started this
    company and how it’s solving problems in local government or if you’d like a test account to try out the app.</p>
</div>
<div class="row">
  <div class="col text-center images">
    <p>first</p>
    <p>second</p>
    <p>third</p>
    <p>fourth</p>
  </div>
</div>
<div class="row justify-content-center" id="last">
  <p class="keywords"><i>Angular, Bootstrap, CSS, Firebase, Firestore, Google Places, HTML, MVC, RxJS, Swift, Typescript</i></p>
</div>
