<div class="row">
  <div class="col text-center">
    <h2>Stormy</h2>
  </div>
</div>
<div class="row">
  <p><a href="https://github.com/burrus/stormy" target="_blank">Stormy</a>
    was a single-page weather app that allowed you to quickly grab the weather forecast
    from anywhere in the world. I used the <a href="https://darksky.net/dev" target="_blank">
    Dark Sky Weather API</a> to grab weather conditions. The app is no longer available on
    the App Store but the code is open source and freely available on Github.</p>
</div>
<div class="row" id="email">
  <p><a href="mailto:tony@burrus.me">Send me an email</a> if you’d like to hear more
    about how I built Stormy.</p>
</div>
<div class="row">
  <div class="col text-center images">
    <p>first</p>
    <p>second</p>
  </div>
</div>
<div class="row justify-content-center" id="last">
  <p class="keywords"><i>Dark Sky Weather, Google Places, MVVM, Swift</i></p>
</div>
