.row {
  display: block;
}

.description {
  text-align: center;
}

.work-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 250px;
  color: white;
  margin: 15px;
}

.work-box:hover {
  color: #EBEBEB;
}

h3 {
  font-weight: 900;
  margin-bottom: 0;
}

a:hover {
  text-decoration: line-through;
}

.last {
  margin-bottom: 30px;
}

#hotwire { background-color: #E73834; margin-top: 0; }
#hotwire:hover { background-color: #9C2624; }
#hotwireLink { padding: 0; }
#hotwireLink:hover { color: #9C2624; }

#forcely { background-color: #21C476; }
#forcely:hover { background-color: #147848; }
#forcelyLink { padding: 0; }
#forcelyLink:hover { color: #147848; }

#stormy { background-color: #458EE5; }
#stormy:hover { background-color: #2E5E99; }
#stormyLink { padding: 0; }
#stormyLink:hover { color: #2E5E99; }

#hail { background-color: #FFD32A; }
#hail:hover { background-color: #B3951D; }
#hailLink { padding: 0; }
#hailLink:hover { color: #B3951D; }

@media only screen and (min-width: 426px) {
  .row {
    display: flex;
  }

  .work-box, #hotwire {
    margin: 10px;
  }

  #hotwireLink { padding-right: 0; }
  #forcelyLink { padding-left: 0; }
  #stormyLink { padding-right: 0; }
  #hailLink { padding-left: 0; }
}
