<div class="row justify-content-center">
  <a class="col-6" id="hotwireLink" href="/work/hotwire">
    <div class="text-center work-box" id="hotwire">
      <h3>Hotwire</h3>
    </div>
  </a>
  <a class="col-6" id="forcelyLink" href="/work/forcely">
    <div class="text-center work-box" id="forcely">
      <h3>Forcely</h3>
    </div>
  </a>
</div>
<div class="row justify-content-center last">
  <a class="col-6" id="stormyLink" href="/work/stormy">
    <div class="text-center work-box" id="stormy">
      <h3>Stormy</h3>
    </div>
  </a>
  <a class="col-6" id="hailLink" href="/work/hail">
    <div class="text-center work-box" id="hail">
      <h3>Hail</h3>
    </div>
  </a>
</div>
