<!-- TODO: stick footer to bottom of page or below content, whichever is lower -->
<div class="row">
  <div class="col text-center">
    <a class="social-icons" href="https://www.instagram.com/10mtony/" target="_blank">
      <img src="assets/icons/instagram.svg" alt="instagram icon">
    </a>
    <a class="social-icons" href="https://github.com/burrus/" target="_blank">
      <img src="assets/icons/github.svg" alt="github icon">
    </a>
    <a class="social-icons" href="https://www.linkedin.com/in/burrus/" target="_blank">
      <img src="assets/icons/linkedin.svg" alt="linkedin icon">
    </a>
  </div>
</div>
<div class="row" id="divider">
  <div class="col text-center">
    <h6>______</h6>
  </div>
</div>
<div class="row">
  <div class="col text-center">
    <!-- TODO: add proper link after repository is made public -->
    <p>This site is <a href="https://github.com/burrus/" target="blank">open source</a>.</p>
  </div>
</div>
<div class="col text-center" id="angularIcon">
  <a href="https://angular.io/" target="blank"><img src="assets/icons/angular.svg" alt="angular icon"></a>
</div>
