/* You can add global styles to this file, and also import other style files */

* {
  font-family: 'Montserrat', sans-serif;
}

.desktop {
  visibility: hidden;
  display: none;
}

@media only screen and (min-width: 769px) {
  .container {
    max-width: 75% !important;
  }

  .mobile {
    visibility: hidden;
    display: none;
  }

  .desktop {
    visibility: visible;
    display: inherit;
  }
}

@media only screen and (min-width: 1025px) {
  .container {
    max-width: 65% !important;
  }
}
